*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    .logo{
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover{
            color: #f1c40f;
        }
    }
    .links a{
        /* display: flex; */
        justify-content: space-between;
        margin-right: 12px;
        width: 40%;
        color: white;
        text-decoration: none;
        font-size: 24px;
        font-weight: 500;
        transition: all 0.3s ease;
        &:hover{
            color: #f1c40f;
        }

    }

}
