* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  .logo {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      color: #f1c40f;
    }
  }
  .links a {
    /* display: flex; */
    justify-content: space-between;
    margin-right: 12px;
    width: 40%;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    transition: all 0.3s ease;
    &:hover {
      color: #f1c40f;
    }
  }
}
/* end of nabbar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Baking {
  margin-bottom: 2vh;

  .title h2,
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
  }
  .title p {
    margin-top: 1vh;
    font-size: 14px;
    color: #333;
  }
  img {
    width: 100%;
    width: 450px;
    height: 450px;
    margin-top: 3vh;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  h3 {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
  }
  .Baking-center {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
/* table section */
.tablle {
  margin: 0 auto;
  width: 80%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #000;
  color: #fff;
}
.outpot {
  text-align: center;
}
.outpot img {
  width: 100px;
  height: 100px;
}
.outpot p {
  width: 100px;
  height: 100px;
}
td img {
  width: 100px;
  height: 100px;
}


/* end of table section */
/* footer */
footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
}
.footer-center{
    display: flex;
    justify-content: space-between;
}
.footer-links a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    &:hover{
        color: #f1c40f;
    }
}
.footer-icons a{
    margin-right: 20px;
}
.footer-icons i{
    width: 30px;
    height: 30px;


}
#face{
    &:hover{
        color: #3b5998;
    }
}
#insta{
    &:hover{
        color: #e4405f;
    }
}
#twitter{
    &:hover{
        color: #00acee;
    }
}
#linkedin{
    &:hover{
        color: #0e76a8;
    }
}
/* end of footer */


